@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* variables de couleur */
:root {
    --color-principale600: #ff0000;
    --color-principale500: #ff2323;
    --color-principale700: #d70000;

    --color-white: #ffffff;
    --color-grey: #dcdcdc;
    --color-black: #292929;
}

/* proprietes universelles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

img, a {
    -webkit-user-drag: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* header */
header {
    width: 100%;
    /* height: 90px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    background: var(--color-white);
    border-bottom: 2px solid var(--color-grey);
    position: fixed;
    top: 0;
    left: 0;
    color: var(--color-black);
    z-index: 9999;
}

header .header_top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.header_top .left {
    flex: 1;
    display: inline-flex;
}

header .header_top img {
    height: 12vh;
}

.nav_links {
    list-style: none;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    padding-bottom: 9px;
}

.nav_links li i {
    position: relative;
    bottom: 0;
    left: 6px;
}

.nav_links li a {
    font-weight: 500;
    font-size: 21px;
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
}

.nav_links li.hover:after {
    content: "";
    position: absolute;
    background-color: var(--color-principale700);
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    left: 0;
    bottom: 0;
    transition: transform 0.3s;
    border-radius: 50px;
}

.nav_links li.hover:hover:after {
    transform: scaleX(100%);
}

.nav_links li.hover:hover a {
    color: var(--color-principale600);
    transition: color .15s ease-in;
}

/* Sous-menu */
.sous-menu {
    display: none;
    position: absolute;
    bottom: -103px;
    background-color: var(--color-white);
    border: 2px solid var(--color-grey);
    z-index: 1;
}

.sous-menu li {
    display: block;
    text-align: left;
}

.nav_links li:hover .sous-menu {
    display: block;
}

.sous-menu li a {
    color: var(--color-black);
    margin-block: 50px;
    transition: background-color 0.3s;
    white-space: nowrap;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-block: 15px;
    background: var(--color-white);
    border-top: 2px solid var(--color-grey);
    position: fixed;
    bottom: 0;
    left: 0;
    color: var(--color-black);
    z-index: 9999;
}

footer .plan_site, footer .entreprise {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

footer .plan_site li, footer .entreprise li {
    margin: 12px 0;
}

footer .plan_site ul li.first {
    margin-top: 0;
}

footer .plan_site ul li ul li {
    margin-left: 20px;
}

footer .plan_site ul li p {
    margin-left: 6px;
}

footer .entreprise li {
    margin-left: 20px;
}

.plan_site li a, .entreprise li {
    font-weight: 500;
    font-size: 21px;
    text-decoration: none;
    color: var(--color-black);
}

.plan_site li a {
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    padding-bottom: 2px;
    font-size: 16px;
}

.plan_site li a:after {
    content: "";
    position: absolute;
    background-color: var(--color-principale700);
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    left: 0;
    bottom: 0;
    transition: transform 0.3s;
    border-radius: 50px;
}

.plan_site a:hover:after {
    transform: scaleX(100%);
}

.plan_site a:hover {
    color: var(--color-principale600);
    transition: color .15s ease-in;
}

footer .cnil_link a, footer .entreprise h3, footer .entreprise li {
    font-size: 16px;
}

footer .cnil_link {
    align-self: flex-end;
}