@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* variables de couleur */
:root {
    --color-principale: #fff;
}

/* proprietes universelles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    scroll-behavior: smooth;
}

img, a {
    -webkit-user-drag: none;
}

/* proprietes de la page */
body {
    min-height: 100vh;
    overflow-x: hidden;
}