@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* variables de couleur */
:root {
    --color-principale600: #ff0000;
    --color-principale500: #ff2323;
    --color-principale700: #d70000;

    --color-white: #ffffff;
    --color-grey: #dcdcdc;
    --color-grey2: #efefed;
    --color-black: #292929;

    --color-comp1-1: #d08a77;
    --color-comp1-2: #e8c5bb;
    --color-comp1-3: #f3e2dd;

    --color-comp2-1: #ff6f4c;
    --color-comp2-2: #ffb7a6;
    --color-comp2-3: #ffdbd2;

    --color-comp3-1: #fdcf41;
    --color-comp3-2: #fee7a0;
    --color-comp3-3: #fff3cf;

    --color-comp4-1: #91ae4f;
    --color-comp4-2: #c8d6a7;
    --color-comp4-3: #e4ebd3;

    --color-comp5-1: #5770be;
    --color-comp5-2: #abb7df;
    --color-comp5-3: #d5dbef;

    --color-comp6-1: #a26859;
    --color-comp6-2: #d0b3ac;
    --color-comp6-3: #e8d9d5;
}

/* proprietes universelles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

img, a {
    -webkit-user-drag: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-top: 18vh;
}

.column {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

/* header */
header {
    width: 100%;
    /* height: 90px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
    background: var(--color-white);
    border-bottom: 2px solid var(--color-grey);
    position: fixed;
    top: 0;
    left: 0;
    color: var(--color-black);
    z-index: 9999;
}

header .header_top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 99%;
}

.header_top .left {
    flex: 1;
    display: inline-flex;
}

header .header_top img {
    height: 9vh;
}

.nav_links {
    list-style: none;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    position: relative;
    padding: 0px 10px;
    cursor: pointer;
    padding-bottom: 10px;
}

.nav_links li i {
    position: relative;
    bottom: 0;
    left: 6px;
}

.nav_links li a {
    font-weight: 500;
    font-size: 21px;
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
}

.nav_links li.hover:after {
    content: "";
    position: absolute;
    background-color: var(--color-principale700);
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    left: 0;
    bottom: 0;
    transition: transform 0.3s;
    border-radius: 50px;
}

.nav_links li.hover:hover:after {
    transform: scaleX(100%);
}

.nav_links li.hover:hover a {
    color: var(--color-principale600);
    transition: color .15s ease-in;
}

/* Sous-menu */
.sous-menu {
    display: none;
    position: absolute;
    bottom: -278px;
    background-color: var(--color-white);
    border: 2px solid var(--color-grey);
    z-index: 99999;
}

.sous-menu li {
    display: block;
    text-align: center;
    margin-block: 10px;
    cursor: default;
}

.nav_links li:hover .sous-menu {
    display: block;
}

.sous-menu li a {
    color: var(--color-black);
    transition: background-color 0.3s;
    white-space: nowrap;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-block: 15px;
    margin-top: 35px;
    background: var(--color-white);
    border-top: 2px solid var(--color-grey);
    position: relative;
    bottom: 0;
    left: 0;
    color: var(--color-black);
    z-index: 9999;
}

footer .plan_site, footer .entreprise {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

footer .plan_site {
    margin-bottom: 30px;
}

footer .plan_site li, footer .entreprise li {
    margin: 12px 0;
}

footer .plan_site ul li.first {
    margin-top: 0;
}

footer .plan_site ul li.last {
    margin-bottom: 0;
}

footer .plan_site ul li ul li {
    margin-left: 20px;
}

footer .plan_site ul li p {
    margin-left: 6px;
}

footer .entreprise li {
    margin-left: 20px;
}

.plan_site li a, .entreprise li {
    font-weight: 500;
    font-size: 21px;
    text-decoration: none;
    color: var(--color-black);
}

.plan_site li a {
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    padding-bottom: 2px;
    font-size: 16px;
}

.plan_site li a:after {
    content: "";
    position: absolute;
    background-color: var(--color-principale700);
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    left: 0;
    bottom: 0;
    transition: transform 0.3s;
    border-radius: 50px;
}

.plan_site a:hover:after {
    transform: scaleX(100%);
}

.plan_site a:hover {
    color: var(--color-principale600);
    transition: color .15s ease-in;
}

footer .cnil_link a, footer .entreprise h3, footer .entreprise li {
    font-size: 16px;
}

footer .cnil_link a:hover {
    color: var(--color-principale500);
}

footer .cnil_link {
    align-self: flex-end;
}

.nav_links li.hover.active:after, footer li.active a:after {
    transform: scaleX(100%);
}

.nav_links li.hover.active a, footer li.active a {
    color: var(--color-principale600);
}

/* page accueil */
.body_content {
    padding-inline: 30px;
    min-height: calc(100vh - (18vh + 43vh));
}

.body_content .row_accueil {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.body_content .animate, .body_content .animate_reverse {
    transition: all .2s ease-in-out;
    opacity: 0;
}

.body_content .animate {
    animation: fadeInRow .45s .25s forwards;
}

.body_content .animate_reverse {
    animation: fadeInRowReverse .45s .6s forwards;
}

.body_content hr {
    width: 100%;
    margin-block: 30px;
    height: 2px;
    border-radius: 15px;
    border: none;
    background-color: var(--color-black);
    opacity: .35;
}

.body_content .row_accueil .column {
    justify-content: space-between;
    align-items: start;
}

.body_content .row_accueil h1 {
    font-size: 1.35em;
    margin-bottom: 20px;
}

.body_content .row_accueil .row {
    justify-content: space-between;
}

.body_content .row_accueil img {
    width: 11vw;
    margin-right: 30px;
}

.body_content .row_accueil .column p {
    font-size: 1.05em;
    line-height: 1.55;
}
.row_accueil .column .source {
    margin-top: 8px;
    font-style: italic;
    font-size: .95em;
}

.row_accueil .source a {
    margin-left: 5px;
}

.row_accueil .source a:hover, .iut_info ul a:hover {
    color: var(--color-principale500);
}

.iut_info a img, .vie_etudiante a img {
    transition: transform .1s ease-in-out;
}

.iut_info a:hover img {
    transform: scale(1.1);
}

.vie_etudiante a:hover img {
    transform: scale(1.2);
}

.row_accueil.iut_info ul {
    margin-block: 10px;
    margin-left: 15px;
}

.row_accueil .row ul li {
    margin-left: 20px;
    line-height: 1.6;
}

.row_accueil ul li.title_list {
    line-height: 2;
    list-style: none;
    margin-left: 0;
}

.row_accueil.liste_competences .column {
    width: 100%;
}

.row_accueil.liste_competences .column a.content_liste_competences {
    width: 100%;
    padding: 20px;
    background-color: var(--color-grey2);
    box-shadow: 0 0 5px var(--color-black);
    border-radius: 15px;
    margin-top: 10px;
    transition: all .2s ease-in-out;
    animation: fadeInCard .45s .2s forwards;
    opacity: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-black);
}

.row_accueil.liste_competences .column a.content_liste_competences:hover {
    background-color: var(--color-grey);
    box-shadow: 0 0 10px var(--color-black);
    border-radius: 20px;
}

.row_accueil.liste_competences .column a.content_liste_competences:not(:nth-child(1)) {
    margin-top: 30px;
}

.row.content_liste_competences img {
    border-radius: 10px;
    width: 300px;
}

.content_liste_competences li {
    margin-left: 30px;
}

.content_liste_competences li.title_list {
    list-style: none;
    margin-left: 10px;
}

.content_liste_competences li.title_list span {
    color: var(--color-principale700);
}

.content_liste_competences li.descripiton {
    list-style: none;
    margin-left: 10px;
    font-style: italic;
}

.row_accueil.liste_competences .source {
    margin-top: 30px;
}

.row_accueil.vie_etudiante h1 {
    margin-bottom: 0;
}

.row_accueil.vie_etudiante .row.reverse {
    margin-top: 0;
    flex-direction: row-reverse;
}

.row.reverse img {
    margin-inline: 30px;
    width: 14vw;
    transform: scale(1.1);
}

.formulaire1 {
    width : 100%;
}
.formulaire2 {
    width : 100%;
    margin-left : 200px;
}
.formulaire1 input {
    width: 30vw;
}
/* animations */
@keyframes fadeInRow {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRowReverse {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInCard {
    from {
        transform: scale(.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}